.container {
  width: 100%;
  min-height: 88vh;
  background-color: var(--primary-bg);
  padding: 20px;
}

.header {
  color: var(--primary-text);
  margin-bottom: 20px;
}

.tableContainer {
  overflow-x: auto;
  width: 100%;
  background: var(--secondary-bg);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
  text-transform: capitalize;
  background-color: var(--secondary-bg);
  color: var(--primary-text);
}

.table th,
.table td {
  border: 1px solid var(--input-border);
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}

.table th {
  color: var(--primary-text);
  font-weight: bold;
}

.table tbody tr:hover td {
  background-color: var(--hover-bg);
}

.noDataFound {
  text-align: center;
  padding: 1rem;
  font-style: italic;
  color: var(--muted-text);
}

/* Filter */
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.filterBar {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.filterInput {
  padding: 8px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  width: 200px;
  background-color: var(--input-bg);
  color: var(--primary-text);
  outline: none;
}

.filterInput::placeholder {
  color: var(--placeholder-text);
}

.clearBtn {
  padding: 8px 12px;
  background-color: transparent;
  color: var(--danger-color);
  border: 1.8px solid var(--danger-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

.clearBtn:hover {
  background-color: var(--danger-color);
  color: white;
}

.addLogBtn {
  padding: 10px 16px;
  font-weight: 500;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px 0;
}

.addLogBtn:hover {
  background-color: var(--accent-hover);
}

.edit,
.delete {
  border: none;
  background-color: transparent;
  margin: 0 12px;
}

/* Responsive */
@media (max-width: 768px) {
  .table {
    min-width: 600px;
  }

  .filterBar {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 5px;
  }

  .addLogBtn {
    margin: 15px auto;
    padding: 10px 16px;
  }
}
