.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContainer {
  width: 65%;
  background: var(--secondary-bg);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.formTitle {
  text-align: center;
  font-size: 22px;
  color: var(--primary-text);
  font-weight: bold;
  margin-bottom: 20px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formGroupContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.formColumn {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.formRow label {
  width: 160px;
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-text);
  text-align: right;
}

.formRow input,
.formRow select {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  outline: none;
  background: var(--input-bg);
  color: var(--primary-text);
  transition: all 0.3s ease-in-out;
}

.formRow input[readonly] {
  background: var(--readonly-bg);
  border: 1px solid var(--readonly-border);
  color: var(--secondary-text);
  cursor: not-allowed;
}

.formRow input:focus,
.formRow select:focus {
  border-color: var(--accent-color);
  box-shadow: 0px 0px 6px rgba(74, 144, 226, 0.5);
}

.formRow select {
  height: 36px;
  cursor: pointer;
}

.submitContainer {
  text-align: center;
  margin-top: 20px;
}

.submitButton {
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid var(--success-color);
  color: var(--success-color);
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  margin: 0 5px;
  transition: 0.3s;
}

.submitButton:hover {
  background: var(--success-color);
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.confirmBox {
  text-align: center;
  padding: 20px;
  color: var(--primary-text);
}

.confirmBox h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.confirmButtons {
  margin-top: 15px;
}

.confirmButton {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 6px;
  font-weight: 500;
  border: 1px solid var(--danger-color);
  color: var(--danger-color);
  background: transparent;
  cursor: pointer;
  margin: 0 10px;
  transition: 0.3s;
}

.confirmButton:hover {
  background: var(--danger-color);
  color: white;
}

.cancelButton {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid var(--success-color);
  color: var(--success-color);
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.cancelButton:hover {
  background: var(--success-color);
  color: white;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .modalContainer {
    width: 80%;
  }

  .formRow label {
    width: 140px;
  }
}

@media (max-width: 768px) {
  .modalContainer {
    width: 90%;
  }

  .formGroupContainer {
    flex-direction: column;
    gap: 15px;
  }

  .formColumn {
    width: 100%;
  }

  .formRow {
    align-items: flex-start;
    gap: 5px;
  }

  .formRow label {
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .modalOverlay {
    height: 100%;
  }

  .modalContainer {
    height: 90%;
    max-height: max-content;
    width: 95%;
    margin: 40px 0;
    overflow: auto;
  }

  .submitContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .submitButton,
  .confirmButton,
  .cancelButton {
    width: 100%;
    margin: 10px;
  }
}
