.container {
  width: 100%;
  min-height: 88vh;
  background-color: var(--primary-bg);
  padding: 20px;
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--accent-color);
  box-shadow: 0px 0px 2px rgba(74, 144, 226, 0.5);
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  color: var(--primary-text);
  margin-bottom: 10px;
}

.filterBar {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filterInput,
.filterSelect {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  width: 200px;
  color: var(--primary-text);
}

.filterInput::placeholder,
.filterSelect::placeholder {
  color: var(--secondary-text);
}

.addUserBtn {
  padding: 8px 12px;
  background-color: var(--accent-color);
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  border: none;
  color: white;
  transition: all 0.3s ease-in-out;
  margin-left: 5px;
  cursor: pointer;
}

.addUserBtn:hover {
  background-color: #4985df;
}

.newUserForm {
  width: 100%;
  height: 100%;
  background: rgba(31, 58, 82, 0.8);
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.tableContainer {
  overflow-x: auto;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: var(--secondary-bg);
  min-width: 900px;
  text-transform: capitalize;
}

.table th,
.table td {
  border: 1px solid var(--input-border);
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  color: var(--primary-text);
}

.table th {
  color: var(--primary-text);
  font-weight: bold;
}

.table tbody tr:hover td {
  background-color: var(--hover-bg);
}

.link {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.clearBtn {
  background-color: transparent;
  color: var(--danger-color);
  border: 1.8px solid var(--danger-color);
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.clearBtn:hover {
  background-color: var(--danger-color);
  color: white;
}

.modifyRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showAllBtn {
  padding: 4px 6px;
  background-color: transparent;
  border: 2px solid var(--success-color);
  color: var(--success-color);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.showAllBtn:hover {
  color: white;
  background-color: var(--success-color);
}

.view,
.edit,
.delete {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.view i,
.edit i,
.delete i {
  font-size: 1.4rem;
  color: var(--accent-color);
  transition: 250ms;
}

.view i:hover {
  font-size: 1.6rem;
}

.edit img,
.delete img {
  width: 100%;
  transition: 250ms;
}

.edit img:hover,
.delete img:hover {
  width: 110%;
}

.noDataFound {
  text-align: center;
  padding: 1rem;
  font-style: italic;
  color: var(--secondary-text);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .filterBar {
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .filterInput,
  .filterSelect {
    width: 100%;
  }

  .container {
    padding: 5px;
  }

  .closeFormBtn {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
