.container {
  max-width: 900px;
  margin: 10px auto;
  background: var(--primary-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  position: relative;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-text);
  margin-bottom: 20px;
}

/* Two-column layout */
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.leftColumn,
.rightColumn {
  flex: 1;
  min-width: 300px;
}

/* Label and Input */
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--primary-text);
}

input,
textarea,
select {
  font-size: 14px;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  outline: none;
  background: var(--input-bg);
  color: var(--primary-text);
  padding: 8px;
  transition: all 0.3s ease-in-out;
}

.formGroup input:focus,
textarea:focus,
select:focus {
  border-color: var(--accent-color);
  box-shadow: 0px 0px 6px rgba(74, 144, 226, 0.5);
}

textarea {
  height: 80px;
}

.readOnly {
  background-color: var(--input-bg);
  color: var(--secondary-text);
  cursor: not-allowed;
  opacity: 0.7;
}

.submitBtn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: transparent;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.submitBtn:hover {
  background: var(--accent-color);
  color: white;
}

/* Close Button */
.closeNewTaskBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 14px;
  border-radius: 50%;
  border: 1px solid var(--danger-color);
  background-color: #fca7a7;
  color: var(--danger-color);
  font-weight: 800;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 708px) {
  .container {
    margin: 10px;
  }

  .form {
    flex-direction: column;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
  }
}
