@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Rubik", sans-serif;
}

.appContainer{
   background-color: #F4F7FC;
}

.layout{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.sideBar{
  width: 250px;
  height: 100%;
  /* background-color: aqua; */
}

.content{
  flex-grow: 2;
  width: calc(100% - 260px);
  height: 100%;
}



.chartBtn{
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border: none;
  background-color: rgba(17, 17, 17, 0.853);

  cursor: pointer;
}

.chartBtn img{
  width: 25px;
  margin: 12px;
}

.chartBtn .closeIcon{
  margin: 6px;
  width: 35px;
}


.chartContainer{
  width: 300px;
  height: 350px;
  background-color: #405475bd;
  position: fixed;
  bottom: 75px;
  right: 35px;

  border-radius: 8px;
}

.chartBox{
  width: 100%;
  height: 90%;
  /* background-color: aqua; */
  overflow-y: auto;
}

.options{
  color: white;
  background-color: rgb(71, 71, 72);
  width: 96%;
  cursor: pointer;
  margin: 4px auto;
  border-radius: 4px;
  padding: 6px;
}

.optionsList{
  /* list-style-type: none; */
  margin-top: 8px;
  padding-left: 20px;

  li{
    margin: 4px 0;
  }
}

.chartInput{
  width: 85%;
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 6px 10px;
  font-size: 16px;
}

.chartSendBtn{
  width: 14%;
  padding: 2px 0;
  position: absolute;
  right: 2px;
  bottom: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.chartSendBtn img{
  width: 60%;
}



.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}